<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BENUE YOUTH AI LAB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <div class="card">
        <h1>BYAL</h1>
        <p>Create Your Participation Card</p>
        <form method="POST" enctype="multipart/form-data">

    <input
        type="text"
        name="name"
        placeholder="Enter your name"
        required
    >

    <input
        type="file"
        name="photo"
        accept="image/*"
        required
    >

    <button type="submit">
        Generate
    </button>

    </form>
    </div>
  {% if name %}

<div class="generated-card" id="capture">

    <!-- Logo -->
    <div class="logo-header">
        <img
            src="{{ url_for('static', filename='ybal_logo.jpeg') }}"
            class="logo-banner"
        >

        <h1 class="big-title">
            BENUE YOUTH <br> AI LAB
        </h1>

        <div class="byal-box">
            BYAL
        </div>
    </div>

    <!-- Middle -->
    <div class="middle-section">

        <!-- Left -->
        <div class="left-side">

            {% if image_path %}
            <img
                src="{{ url_for('static', filename=image_path) }}"
                class="profile-image"
            >
            {% endif %}

            <div class="name-tag">
                {{ name }}
            </div>

        </div>

        <!-- Right -->
        <div class="right-side">

            I’m excited and honoured to announce that
            I’ve been selected to participate in the
            Benue Youth AI Lab (BYAL) Project.

            BYAL is a transformative initiative focused
            on equipping Benue youths with essential
            AI skills to thrive in Artificial Intelligence
            and emerging technologies.

        </div>

    </div>

    <!-- Apply -->
    <div class="apply-section">
        APPLY NOW:https://bit.ly/42GW8cZ
    </div>

    <!-- Footer -->
    <div class="footer">
        <span>08137199871</span>
        <span>youthupliftdev@gmail.com</span>
    </div>

</div>

<button onclick="downloadCard()" class="download-btn">
    Download Card
</button>

{% endif %}
   
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<script>
    function downloadCard() {
      html2canvas(document.querySelector("#capture")).then(canvas => {
        let link = document.createElement('a');
        link.download = 'ydf-card.png';
        link.href = canvas.toDataURL();
        link.click();
    });
}
</script>

</body>
</html>
